{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %} ShopHive {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ml-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'app:index' %}">ShopHive</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <!-- Aligns items to the right -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:products' %}">Products</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:user_logout' %}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:view_cart' %}">Cart</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:user_login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:user_signup' %}">Sign Up</a>
            </li>
            {% endif %}
            {% if request.user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_dashboard' %}">Admin Panel</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <hr>
    <div class="container mt-2">
      {% if messages %}
      <div class="container mt-3">
        {% for message in messages %}
          <div class="alert alert-dismissible fade show alert-warning" role="alert">
            {{ message }}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
     {% block content %} {% endblock %}
    </div>
    {% block script %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    {% endblock %}
  </body>
</html>
