{% extends './base.html' %} {% load static %} {% load humanize %}
{% block navbar_class %}navbar-dark bg-black{% endblock %}

{% block content %}
<div class="container-fluid banner py-5 px-4">
  <div class="row align-items-center">
    <div class="col-md-4 text-md-start pb-5 mb-4 ml-md-5 mb-md-0">
      <h1 class="display-3 font-weight-bold">Welcome to ShopHive</h1>
      <p class="h4 mb-4 text-secondary">Your one-stop shop for all your needs.</p>
      <p class="lead">
        Discover a wide range of products tailored to suit your lifestyle. From
        the latest electronics to everyday essentials, we have something for
        everyone. Enjoy exclusive deals and fast shipping right to your
        doorstep.
      </p>
      <a href="{% url 'app:products' %}" class="btn btn-black border-white btn-lg px-4 py-2 shadow">Shop Now</a>
    </div>
    <div class="col-md-7 d-md-block d-none">
      <img
        src="{% static 'img/banner.jpg' %}"
        alt="Banner Image"
        class="img-fluid rounded shadow"
      />
    </div>
  </div>
  
  <!-- Categories Section -->
  <div class="d-none d-md-flex row mt-5 mb-5 text-center">
    <div class="col-6 col-md">
      <a href="/products/?query=&category=Electronics" class="category-link text-white h5 p-3 rounded border border-light">Electronics</a>
    </div>
    <div class="col-6 col-md">
      <a href="/products/?query=&category=Clothing" class="category-link text-white h5 p-3 rounded border border-light">Clothing</a>
    </div>
    <div class="col-6 col-md">
      <a href="/products/?query=&category=Sports" class="category-link text-white h5 p-3 rounded border border-light">Sports</a>
    </div>
    <div class="col-6 col-md">
      <a href="/products/?query=&category=Books" class="category-link text-white h5 p-3 rounded border border-light">Books</a>
    </div>
    <div class="col-6 col-md">
      <a href="/products/?query=&category=Furniture" class="category-link text-white h5 p-3 rounded border border-light">Furniture</a>
    </div>
  </div>
  
</div>

<br>
<div class="container mt-5">
  <div id="message-container"></div>
  <h2 class="text-center mb-4">Featured Products</h2>
  <div class="row">
    {% for product in featured_products %}
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        <a href="{% url 'app:product_detail' product.id %}">
          <img
            class="card-img-top"
            src="{{ product.images.first.image.url }}"
            alt="{{ product.name }}"
            style="object-fit: contain; max-height: 200px"
          />
        </a>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">
            <a
              class="text-dark"
              href="{% url 'app:product_detail' product.id %}"
              >{{ product.name }}</a
            >
          </h5>
          <p class="card-text text-muted">{{ product.category }}</p>
          <p>
            {% if product.is_on_sale %}
            <span style="text-decoration: line-through" class="h5"
              >₹{{ product.price|floatformat:2 }}</span
            >
            <span class="h5">₹{{ product.sale_price|floatformat:2|intcomma }}</span>
            {% else %}
            <span class="h5">₹{{ product.price|floatformat:2|intcomma }}</span>
            {% endif %}
          </p>
          <form method="post" class="wishlist-form" data-url="{% url 'app:wishlist_toggle' %}" 
              data-action="{% if product in wishlist.products.all %}remove{% else %}add{% endif %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <button type="submit" class="btn {% if product in wishlist.products.all %}btn-outline-dark{% else %}btn-black{% endif %}">
                <i class="bi {% if product in wishlist.products.all %}bi-heart-fill{% else %}bi-heart{% endif %}"></i> 
                {% if product in wishlist.products.all %}Remove from Wishlist{% else %}Add to Wishlist{% endif %}
            </button>
          </form>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-center mb-4">On-Sale Products</h2>
  <div class="row">
    {% for product in on_sale_products %}
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        <a href="{% url 'app:product_detail' product.id %}">
          <img
            class="card-img-top"
            src="{{ product.images.first.image.url }}"
            alt="{{ product.name }}"
            style="object-fit: contain; max-height: 200px"
          />
        </a>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">
            <a
              class="text-dark"
              href="{% url 'app:product_detail' product.id %}"
              >{{ product.name }}</a
            >
          </h5>
          <p class="card-text text-muted">{{ product.category }}</p>
          <p>
            <span style="text-decoration: line-through" class="h5"
              >₹{{ product.price|floatformat:2|intcomma }}</span
            >
            <span class="h5">₹{{ product.sale_price|floatformat:2|intcomma }}</span>
          </p>
          <form method="post" class="wishlist-form" data-url="{% url 'app:wishlist_toggle' %}" 
              data-action="{% if product in wishlist.products.all %}remove{% else %}add{% endif %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <button type="submit" class="btn {% if product in wishlist.products.all %}btn-outline-dark{% else %}btn-black{% endif %}">
                <i class="bi {% if product in wishlist.products.all %}bi-heart-fill{% else %}bi-heart{% endif %}"></i> 
                {% if product in wishlist.products.all %}Remove from Wishlist{% else %}Add to Wishlist{% endif %}
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-center mb-4">New Arrivals</h2>
  <div class="row">
    {% for product in recently_added_products %}
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        <a href="{% url 'app:product_detail' product.id %}">
          <img
            class="card-img-top"
            src="{{ product.images.first.image.url }}"
            alt="{{ product.name }}"
            style="object-fit: contain; max-height: 200px"
          />
        </a>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">
            <a
              class="text-dark"
              href="{% url 'app:product_detail' product.id %}"
              >{{ product.name }}</a
            >
          </h5>
          <p class="card-text text-muted">{{ product.category }}</p>
          <p>
            {% if product.is_on_sale %}
            <span style="text-decoration: line-through" class="h5"
              >₹{{ product.price|floatformat:2 }}</span
            >
            <span class="h5">₹{{ product.sale_price|floatformat:2|intcomma }}</span>
            {% else %}
            <span class="h5">₹{{ product.price|floatformat:2|intcomma }}</span>
            {% endif %}
          </p>
          <form method="post" class="wishlist-form" data-url="{% url 'app:wishlist_toggle' %}" 
              data-action="{% if product in wishlist.products.all %}remove{% else %}add{% endif %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <button type="submit" class="btn {% if product in wishlist.products.all %}btn-outline-dark{% else %}btn-black{% endif %}">
                <i class="bi {% if product in wishlist.products.all %}bi-heart-fill{% else %}bi-heart{% endif %}"></i> 
                {% if product in wishlist.products.all %}Remove from Wishlist{% else %}Add to Wishlist{% endif %}
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).on('submit', '.wishlist-form', function (e) {
          e.preventDefault();
      
          const form = $(this);
          const url = form.data('url');
          const formData = form.serialize();
          const action = form.data('action');
          const button = form.find('button');
      
          $.ajax({
              type: 'POST',
              url: url,
              data: formData,
              success: function (response) {
                  if (response.status === 'success') {
                      if (action === 'add') {
                          form.data('action', 'remove');
                          button.html('<i class="bi bi-heart-fill"></i> Remove from Wishlist');
                          button.removeClass('btn-black').addClass('btn-outline-dark');
                      } else {
                          form.data('action', 'add');
                          button.html('<i class="bi bi-heart"></i> Add to Wishlist');
                          button.removeClass('btn-outline-dark').addClass('btn-black');
                      }
                  } else {
                      alert(response.message); // Show error message from server
                  }
              },
              error: function () {
                  alert('An error occurred while toggling wishlist status.');
              }
          });
      });
      
  </script>

{% endblock %}