{% extends './base.html' %}
{% load humanize %}

{% block content %}
<div class="container">
    <h2>Order Confirmation</h2>
    <p>Your order has been placed successfully!</p>
    <h4>Order Details:</h4>
    <p>Order ID: {{ order.id }}</p>
    <p>Shipping Address: {{ order.address_line_1 }}, {% if order.address_line_2 %} {{ order.address_line_2 }}, {% endif %} {{ order.city }}, {{ order.post_code }}</p>
    <p>Total Price: ₹{{ order.total_price|intcomma }}</p>
    <p>Payment Method: {{ order.get_payment_method_display }}</p>
    
    <h4>Items:</h4>
    <ul>
        {% for item in order.items.all %}
        <li>{{ item.quantity }} x {{ item.product.name }} - ₹{{ item.price|intcomma }}</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'app:products' %}" class="btn btn-black">Continue Shopping</a>
</div>
{% endblock %}
