{% extends './base.html' %} {% block content %}
<div class="container my-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 d-none d-lg-block">
      <h1 class="display-4 fw-bold">Welcome to</h1>
      <h1 class="display-3 font-weight-bold">ShopHive</h1>
    </div>
    <!-- Centered Signup Form -->
    <div class="col-lg-6 col-md-8">
      <div class="card p-4 shadow-sm">
        <h3 class="fw-bold mb-3">Sign Up</h3>
        <form method="post">
          {% csrf_token %} {% for field in form %}
          {% if field.name != 'usable_password' %}
          <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
          </div>
          {% endif %}
          {% endfor %}
          <button type="submit" class="btn btn-black btn-lg w-100">
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
