{% extends "./base.html" %}
{% block content %}
<div class="container mt-5 mb-5">
    <h1 class="mb-4">Terms of Service</h1>
    <p>Thank you for visiting ShopHive! By using our website, you agree to the following terms and conditions:</p>
    
    <h4>1. Account Registration</h4>
    <p>To shop on ShopHive, you may need to create an account. You are responsible for keeping your account details secure and for all activities that occur under your account.</p>
    
    <h4>2. Product Information</h4>
    <p>We strive to ensure that product information is accurate, but we do not guarantee that all descriptions or images are error-free. Prices and availability are subject to change without notice.</p>
    
    <h4>3. Payments and Billing</h4>
    <p>All prices are displayed in INR, and payments are securely processed. You agree to provide accurate payment information and authorize ShopHive to charge the total amount for your order.</p>
    
    <h4>4. Shipping and Delivery</h4>
    <p>Estimated delivery times are provided but may vary. ShopHive is not responsible for delays due to unforeseen circumstances.</p>
    
    <h4>5. Returns and Refunds</h4>
    <p>Products can be returned within 14 days of delivery for a full refund. Refunds will be processed according to our Return Policy.</p>
    
    <h4>6. Limitation of Liability</h4>
    <p>ShopHive is not liable for any direct or indirect damages resulting from the use or inability to use our site or products.</p>
    
    <h4>7. Changes to Terms</h4>
    <p>We may update these terms from time to time. Updated terms will be posted on this page.</p>


    <p><em>Last Updated: November 2024</em></p>
</div>
{% endblock %}