{% extends "./base.html" %}
{% load humanize %}

{% block content %}
<div class="container mt-4">
  <h2>Your Wishlist</h2>

  <div class="row">
    {% if products %}
      {% for product in products %}
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <a href="{% url 'app:product_detail' product.id %}">
            <img
              class="card-img-top"
              src="{{ product.images.first.image.url }}"
              alt="{{ product.name }}"
              style="object-fit: contain; max-height: 200px"
            />
          </a>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">
              <a class="text-dark" href="{% url 'app:product_detail' product.id %}">
                {{ product.name }}
              </a>
            </h5>
            <p class="card-text text-muted">{{ product.category }}</p>
            <p>
              {% if product.is_on_sale %}
                <span style="text-decoration: line-through" class="h5 text-muted">
                  ₹{{ product.price|floatformat:2|intcomma }}
                </span>
                <span class="h5 text-danger">₹{{ product.sale_price|floatformat:2|intcomma }}</span>
              {% else %}
                <span class="h5">₹{{ product.price|floatformat:2|intcomma }}</span>
              {% endif %}
            </p>
            <a href="{% url 'app:remove_from_wishlist' product.id %}" class="btn btn-black">
              <i class="bi bi-trash"></i> Remove
            </a>
          </div>
        </div> <!-- End of card -->
      </div> <!-- End of column -->
      {% endfor %}
    </div> <!-- End of row -->
    {% else %}
      <p>Your wishlist is empty.</p>
      <a href="{% url 'app:index' %}" class="btn btn-secondary">Continue Shopping</a>
    {% endif %}
</div>
{% endblock %}
