{% load socialaccount %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container my-5">
      <h2>Login with Google</h2>

      <p>Click the button below to sign in with your Google account:</p>

      <form action="" method="post">
        {% csrf_token %}
        <button type="submit" href="{% provider_login_url 'google' %}" class="btn btn-primary">
          Sign in with Google
        </button>

        <hr />
      </form>

      <p>
        Or, <a href="{% url 'app:user_signup' %}">sign up here</a> if you don't
        have an account yet.
      </p>
    </div>
  </body>
</html>
