{% extends "./base.html" %}
{% block content %}
<div class="col-lg-8 col-md-10 mx-auto">
    <div class="card p-4 shadow-sm">
        <h2 class="fw-bold mb-3">Add Product</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <h4 class="fw-bold mb-3">Product Details</h4>
            <div class="mb-3">
                {{ product_form.as_p }}
            </div>

            <h4 class="fw-bold mb-3">Specifications</h4>
            {{ formset.management_form }}
            <div class="mb-3">
                {% for form in formset %}
                <div class="form-row mb-3">
                    <div class="col-md-6">
                        {{ form.key.label_tag }}
                        {{ form.key }}
                        {% if form.key.errors %}
                        <div class="text-danger">{{ form.key.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {{ form.value.label_tag }}
                        {{ form.value }}
                        {% if form.value.errors %}
                        <div class="text-danger">{{ form.value.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <h4 class="fw-bold mb-3">Product Images (minimum 3):</h4>
            <div class="mb-3">
                <label for="images" class="form-label">Upload Images:</label>
                <input type="file" name="images" id="images" class="form-control" multiple required>
            </div>

            <button type="submit" class="btn btn-black btn-lg w-100 mt-3">Add Product</button>
        </form>

        {% if messages %}
        <ul class="mt-4">
            {% for message in messages %}
            <li class="text-danger">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <a href="{% url 'products_list' %}" class="btn btn-link mt-4">Back to Product List</a>
    </div>
</div>
{% endblock %}
