{% extends "./base.html" %}

{% block content %}
<h2>Product List</h2>
<a class="btn btn-black mb-2" href="{% url 'add_product' %}">Add New Product</a>
<a class="btn btn-black mb-2" href="{% url 'view_deleted_products' %}">View Deleted Products</a>
<form action="" method="GET" class="row g-2 align-items-center">
    <div class="col-12 col-md-auto">
        <input class="form-control" type="text" name="query" placeholder="Search Products">
    </div>
    <div class="col-12 col-md-auto">
        <select class="form-control" name="category">
            <option value="">All Categories</option>
            {% for category in categories %}
            <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>
                {{ category.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-12 col-md-auto">
        <select class="form-control" name="sort">
            <option value="id" {% if request.GET.sort == 'id' %}selected{% endif %}>ID</option>
            <option value="name" {% if request.GET.sort == 'name' %}selected{% endif %}>Name</option>
            <option value="price" {% if request.GET.sort == 'price' %}selected{% endif %}>Price</option>
            <option value="category" {% if request.GET.sort == 'category' %}selected{% endif %}>Category</option>
        </select>
    </div>
    <div class="col-12 col-md-auto">
        <button type="submit" class="btn btn-black">Search & Sort</button>
    </div>
</form>


<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td><a class="text-dark font-weight-bold" href="{% url 'product_detail' product.id %}">{{ product.name }}</a></td>
            <td>{{ product.category }}</td>
            <td>${{ product.price }}</td>
            <td>
                <a class="btn btn-outline-dark" href="{% url 'edit_product' product.id %}">Edit</a>
                
                <!-- Trigger Modal -->
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#deleteModal{{ product.id }}">
                    Delete
                </button>
            </td>
        </tr>

        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="deleteModal{{ product.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete "{{ product.name }}"?
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="{% url 'delete_product' product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Yes, Delete</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
