{% extends './base.html' %}
{% block content %}
<h2>Tags</h2>
<a href="{% url 'add_tag' %}" class="btn btn-black mb-2">Add Tag</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tag</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for tag in tags %}
        <tr>
            <td>{{ tag.name }}</td>
            <td>{{ tag.category.name }}</td>
            <td>
                <a href="{% url 'edit_tag' tag.id %}" class="btn btn-outline-dark">Edit</a>
                
                <!-- Trigger Modal -->
                <button type="button" class="btn btn-black" data-bs-toggle="modal" data-bs-target="#deleteModal{{ tag.id }}">
                    Delete
                </button>
            </td>
        </tr>

        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="deleteModal{{ tag.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the tag "{{ tag.name }}"?
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="{% url 'delete_tag' tag.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Yes, Delete</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
